/* FONTS */

@font-face {
    font-family: "Pomares";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Pomares";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Pomares";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Pomares";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

/* VARIABLES */

:root {

    /* BG Colors */
    --main-bg: #3772FF;

    /* Text Colors */
    --heading-color: #fff;
    --text-color: #292929;

}

/* GENERAL STYLES */

body {
    padding: 0;
    margin: 0;
    font-family: "Pomares", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    text-rendering: optimizeLegibility;
}