@import "../fonts";
@import "../colors";
@import "../mixins";

#hero {

    
    padding: 4em;
    background: $bg-accent2;
    color: $bg-primary;

    @include lg {
        display: grid;
        grid-template-columns: 66% auto;
        padding: 0;
        background: $bg-primary;
        height: 90vh;
    }

    .content {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include lg {
            background: $bg-accent2;
            padding: 6em 8em 6em 4em;
            align-items: flex-start;
        }

        @include xl {
            background: $bg-accent2;
            padding: 6em 8em 6em 10em;
        }

        h1 {
            margin-bottom: 30px;
            font-size: 28px;
            line-height: 42px;
            width: 100%;
            text-align: center;
            word-wrap: break-word;

            @include lg {
                font-size: 3em;
                line-height: 1.5em;
                text-align: left;
            }

        }
    
        .meet {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            width: 100%;

            @include lg {
                justify-content: flex-start;   
            }

            span {
                margin-right: 10px;
            }
    
            p {
                font-weight: 700;
                color: $text-accent;
            }
    
        }

        .scroll {
            
            width: 30px;
            height: auto;

        }
    
    }

    #heroDesign {
        display: none;

        @include lg {
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }

    }

}

.circle#Ellipse_1 {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    0% {
        transform: translate(262px, 798px);
        z-index: 5;
    }
    100% {
        transform: translate(262px, 830px);
    }
}