@import "../fonts.scss";
@import "../colors.scss";
@import "../mixins.scss";

body.active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#language {
    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;

    align-items: center;
    justify-content: center;

    background-color: rgba($color: #000000, $alpha: 1.0);

    &.active {
        display: flex;
        animation: languagesAnimation .8s linear;
    }

    .exit {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;

        color: $bg-primary;
        font-size: 30px;

        &:hover {
            transform: scale(1.2);
        }

        transition: transform 1s ease-in-out;

    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            font-size: 2.5em;
            margin-bottom: 50px;
            color: $bg-primary;
            transition: transform 1s ease-in-out;
            cursor: pointer;

            a {
                color: inherit;
                font-weight: 700;
            }

            &.active {
                color: $success;
            }

            &:hover {
                transform: scale(1.2);
            }

        }

    }

}

@keyframes languagesAnimation {
    0% {
        clip-path: circle(0% at 100vw 0)
    }
    100% {
        clip-path: circle(100%);
    }
}