@import "../fonts";
@import "../colors";
@import "../mixins";

.loader {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $bg-accent;
    z-index: 50;

    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-size: 2.3em;
        font-weight: 800;
        letter-spacing: -1px;
        margin-bottom: 25px;
        color: $bg-primary;
        text-shadow: 0 0 20px rgba($color: #000000, $alpha: .4);
    }
    
    .dots {

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        :nth-child(1){
            margin-left: 0;
        }

        :nth-child(1){
            margin-right: 0;
        }

        .dot {

            

            margin-left: 5px;
            margin-right: 5px;

            font-size: 65px;
            opacity: 1;
            color: $bg-primary;
    
            animation: dot 1s infinite;
    
            &.dot2 {
                animation-delay: 250ms;
            }
            
            &.dot3 {
                animation-delay: 500ms;
            }
    
            @keyframes dot {
                50% {
                    color: transparent;
                }
            }
    
        }
    }

    &.active {
        opacity: 1;
    }

    transition: opacity 1s ease-out;

}