@import "../fonts";
@import "../colors";
@import "../mixins";

.subtitle {
    text-transform: uppercase;
    font-weight: 800;
    color: $bg-accent2;
    letter-spacing: .2em;
    font-size: .85em;
    margin: 14px 0;
    width: 100%;
}

.featuredTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    width: 100%;
    color: $text-primary;
}

.featuredDesc {
    // text-align: center;
    font-weight: 500;
    line-height: 1.8em;
    margin-bottom: 3em;
    margin-top: 14px;
}

#skills {
    
    background-color: $text-accent;
    text-align: center;

    @include md {
        margin-top: -6em;
        margin-bottom: -7em !important;
        padding-top: 6em !important;
    }

    .skillsContainer {

        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(3,auto);
                grid-gap: 1em;
            }

            li {

                background: $bg-primary;
                padding: 2em;
                border-radius: 1em;
                margin-bottom: 1em;

                .iconContainer {
                    width: 50px;
                    height: 100px;
                    display: grid;
                    place-content: center;
                    margin: 0 auto;
                }

                .skillTitle {
                    font-weight: bold;
                    margin: 16px 0;
                }

                .featuredDesc {
                    font-size: .9em;
                    line-height: 1.8em;
                    font-weight: 500;
                    color: $text-primary;
                }

            }

        }

    }

}