@import "./fonts.scss";
@import "./colors.scss";
@import "./mixins.scss";

* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;

  *::-webkit-scrollbar {
      width: 0;
  }

}

body {
  font-family: $font;
  color: $text-primary;
  background-color: $bg-primary;
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-primary;
}

img {
  max-width: 100%;
}