@import url('http://fonts.cdnfonts.com/css/poppins');

// FONT
$font: "Poppins", sans-serif;

// ORIGINAL COLORS
// $bg-primary: #fff;
// $bg-secondary: #F7F7F7;
// $bg-accent: #6700EE;
// $bg-accent2: #6E00FF;
// $text-primary: #252525;
// $text-accent: #FF64CB;
// $border-primary: #757575;

// TEST
$bg-primary: #fdfffc;
$bg-secondary: #F7F7F7;
$bg-accent: #e71d36;
$bg-accent2: #e71d36;
$text-primary: #252525;
$text-accent: #011627;
$border-primary: #757575;
$success: #4BB543;

// MIXING

@mixin md {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: 1050px) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: 1250px) {
        @content;
    }
}

// RESET

* {
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;

    *::-webkit-scrollbar {
        width: 0;
    }

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-primary;
}

img {
    max-width: 100%;
}

// GENERAL

body {
    font-family: $font;
    color: $text-primary;
    background-color: $bg-primary;
    height: 100vh;
    width: 100%;
}

section {

    padding: 4em 2em;

    @include md {

    }

    @include lg {
        padding: 4em;
    }

    @include xl {
        padding: 10em 10em 4em 10em;
    }

}

.subtitle {
    text-transform: uppercase;
    font-weight: 800;
    color: $bg-accent2;
    letter-spacing: .2em;
    font-size: .85em;
    margin: 14px 0;
    width: 100%;
}

.featured-title {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    width: 100%;
    color: $text-primary;
}

.featured-desc {
    // text-align: center;
    font-weight: 500;
    line-height: 1.8em;
    margin-bottom: 3em;
    margin-top: 14px;
}

.circle#Ellipse_1 {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    0% {
        transform: translate(262px, 798px);
        z-index: 5;
    }
    100% {
        transform: translate(262px, 830px);
    }
}

// HEADER

body.active {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#language {
    
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;

    align-items: center;
    justify-content: center;

    background-color: rgba($color: #000000, $alpha: 1.0);

    &.active {
        display: flex;
        animation: languagesAnimation .8s linear;
    }

    &.disabled {
        display: flex;
        animation: languagesAnimationReverse .8s linear;
    }

    .exit {
        position: absolute;
        top: 25px;
        right: 25px;
        
        color: $bg-primary;
        font-size: 30px;

        &:hover {
            transform: scale(1.2);
        }

        transition: transform 1s ease-in-out;

    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            font-size: 2.5em;
            margin-bottom: 50px;
            color: $bg-primary;
            transition: transform 1s ease-in-out;

            a {
                color: inherit;
                font-weight: 700;
            }

            &.active {
                color: $success;
            }

            &:hover {
                transform: scale(1.2);
            }

        }

    }

}

@keyframes languagesAnimation {
    0% {
        clip-path: circle(0% at 100vw 0)
    }
    100% {
        clip-path: circle(100%);
    }
}

@keyframes languagesAnimationReverse {
    0% {
        clip-path: circle(100%);
    }
    100% {
        clip-path: circle(0% at 100vw 0)
    }
}

#header {

    background-color: $bg-accent;
    color: $bg-primary;

    a {
        color: inherit;
    }

    i {
        color: $text-primary;
    }

    @include lg {
        display: grid;
        grid-template-columns: 66% auto;
    }

    header {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
        font-size: 16px;

        @include lg {
            padding: 2em 2em 2em 4em;
        }

        @include xl {
            padding: 2em 2em 2em 10em;
        }

        .logo {
            font-weight: 800;
            color: $text-accent;
        }

        nav {
            
            ul {
                display: flex;

                :last-child {
                    a {
                        padding: 0 0 0 1em;
                    }
                }

                li {

                    display: flex;
                    position: relative;

                    a {
                        padding: 0 1em;
                        width: 100%;
                        font-weight: 300;
                        font-size: inherit;
                    }

                }

            }

        }

    }

    .social-header {

        display: none;
        background-color: $bg-primary;
        

        @include lg {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 2em 4em 2em 0;
        }

        @include xl {
            padding: 2em 10em 2em 0;
        }

        ul {
            display: flex;
            width: 7em;
            justify-content: space-between;
            align-items: center;

            li {

                a {

                    i {
                        font-size: 25px;
                    }

                }

            }

        }

    }

}

#hero {

    
    padding: 4em;
    background: $bg-accent2;
    color: $bg-primary;

    @include lg {
        display: grid;
        grid-template-columns: 66% auto;
        padding: 0;
        background: $bg-primary;
        height: 90vh;
    }

    .content {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include lg {
            background: $bg-accent2;
            padding: 6em 8em 6em 4em;
            align-items: flex-start;
        }

        @include xl {
            background: $bg-accent2;
            padding: 6em 8em 6em 10em;
        }

        h1 {
            margin-bottom: 30px;
            font-size: 28px;
            line-height: 42px;
            width: 100%;
            text-align: center;
            word-wrap: break-word;

            @include lg {
                font-size: 3em;
                line-height: 1.5em;
                text-align: left;
            }

        }
    
        .meet {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            width: 100%;

            @include lg {
                justify-content: flex-start;   
            }

            span {
                margin-right: 10px;
            }
    
            p {
                font-weight: 700;
                color: $text-accent;
            }
    
        }

        .scroll {
            
            width: 30px;
            height: auto;

        }
    
    }

    #hero-design {
        display: none;

        @include lg {
            display: unset;
            margin-left: -50%;
            margin-top: 15%;
            width: 100%;
        }

    }

}

#featured {

    position: relative;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        opacity: .5;
        background: $bg-accent2;
        z-index: -1;
    }

    @include md {
        display: grid;
        grid-template-columns: 40% auto;
        text-align: left;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        display: grid;
        place-content: center;   

    }

    .right {

        @include md {
            width: 100%;
            margin: 1em 0 0 2em;
        }

        @include lg {
            margin: 0;
        }

    }

}

#skills {
    
    background-color: $text-accent;
    text-align: center;

    @include md {
        margin-top: -6em;
        margin-bottom: -7em !important;
        padding-top: 6em !important;
    }

    .skills-container {

        ul {

            @include md {
                display: grid;
                grid-template-columns: repeat(3,auto);
                grid-gap: 1em;
            }

            li {

                background: $bg-primary;
                padding: 2em;
                border-radius: 1em;
                margin-bottom: 1em;

                .icon-container {
                    width: 50px;
                    height: 100px;
                    display: grid;
                    place-content: center;
                    margin: 0 auto;
                }

                .skill-title {
                    font-weight: bold;
                    margin: 16px 0;
                }

                .featured-desc {
                    font-size: .9em;
                    line-height: 1.8em;
                    font-weight: 500;
                    color: $text-primary;
                }

            }

        }

    }

}

#portfolio {

    background: $bg-secondary;
    text-align: center;

    @include md {
        padding-top: 7em;
        text-align: left;
    }

    .portfolio-container {

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
        }

        .left {

            @include md {
                display: grid;
                place-content: center;
            }

            .inner {

            }

        }

        a {

            img {
                border-radius: 1em;
                margin-bottom: 2em;

                @include md {
                    margin-left: 2em;
                }

                @include lg {
                    float: right;
                    max-width: 500px;
                }

            }

        }

    }

}

#contact {

    width: 100%;

    @include xl {
        padding: 4em 10em 4em 10em !important;
    }

    .contact-container {

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .validation {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            background-color: $bg-secondary;
            border-radius: 4px;
            z-index: 10;
            align-items: center;
            justify-content: center;

            &.active {
                display: flex;
            }

            @include md {
                max-width: 900px;
            }

            .icon {
                font-size: 56px;
                color: $success;
                animation: spinner 1s infinite linear;
            }

        }

        form {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100%;

            background-color: $bg-secondary;
            padding: 2em;
            border-radius: 4px;
            box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .1);

            @include md {
                max-width: 900px;
            }

            .group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-bottom: 25px;
                width: 100%;
            }

            label {
                text-transform: uppercase;
                letter-spacing: .2em;
                font-weight: bold;
                margin: 5px;

                span {

                    &.required {
                        color: $bg-accent2;
                    }

                }

            }

            input {

                width: 100%;
                height: 35px;
                font-size: 14px;
                border-radius: 4px;
                padding: 5px;
                border: 0;
                color: $bg-accent2;
                font-family: $font;
                outline: none;

                &:focus {
                    border: 0;  
                    box-shadow: 0 0 0 3px $bg-accent2;
                }

                &::placeholder {
                    color: $bg-accent2;
                }

                &[type="submit"] {
                    
                    height: 45px;
                    background-color: $bg-accent2;
                    color: $bg-primary;
                    font-size: 1em;
                    font-weight: 700;

                    &:hover {
                        background-color: $success;
                    }

                }

            }

            textarea {

                width: 100%;
                resize: none;
                height: 100px;
                border-radius: 4px;
                border: 0;
                font-size: 14px;
                font-family: $font;
                color: $bg-accent2;
                padding: 5px;
            
                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 3px $bg-accent2;
                }

            }

        }

    }

}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// LOADER
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $bg-accent;
    z-index: 50;

    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        font-size: 2.3em;
        font-weight: 800;
        letter-spacing: -1px;
        margin-bottom: 25px;
        color: $bg-primary;
    }
    
    .dots {

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        :nth-child(1){
            margin-left: 0;
        }

        :nth-child(1){
            margin-right: 0;
        }

        .dot {

            

            margin-left: 5px;
            margin-right: 5px;

            font-size: 65px;
            opacity: 1;
            color: $bg-primary;
    
            animation: dot 1s infinite;
    
            &--2 {
                animation-delay: 250ms;
            }
            
            &--3 {
                animation-delay: 500ms;
            }
    
            @keyframes dot {
                50% {
                    color: transparent;
                }
            }
    
        }
    }

    &.active {
        opacity: 1;
    }

    transition: opacity 1s ease-out;

}